@model IEnumerable<DBADM_Activos.ServiceReference1.SP_Entidad_toList_Result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DirecciónEntidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailEntidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDEntidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreEntidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUCEntidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoEntidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DirecciónEntidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailEntidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDEntidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreEntidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUCEntidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoEntidad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
